@{
    ViewBag.Title = "CompanyList";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>傲鲨汽车生活馆</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" type="text/css" href="/Content/AoShaCar/AmazeUI-2.3.0/css/amazeui.min.css">
    <link type="text/css" rel="stylesheet" href="/Content/AoShaCar/icon-font-4.3.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/Content/AoShaCar/kemeimei/order/carbeautyshop/css/style.css">
</head>
<body>
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back();" class="back">返回</a>
        </div>
        <h1 class="am-header-title">
             <img src="/Content/AoShaCar/images/logo.png" />
        </h1>
     <div class="am-header-right am-header-nav">
            <a href="/AoShaCar/Index?sid=@ViewBag.SupplierID" class="">首页</a>
        </div>
    </header>
    <div>
        <ul class="store-list">
            @foreach (var item in ViewBag.SupplierList)
            {
                <li>
                    <a href="/AoShaCar/index?sid=@item.SUPPLIER_ID">
                        <h3>@item.SUPPLIER_NAME</h3>
                        <p>@item.ADDRESS</p>
                    </a>
                </li>
            } 
        </ul>
    </div>
    <script type="text/javascript" src="/Content/AoShaCar/AmazeUI-2.3.0/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/AoShaCar/AmazeUI-2.3.0/js/amazeui.min.js"></script>
    <script type="text/javascript">
        $(function () {

        });
    </script>
</body>
<div style="display:none;"></div>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var weixintitle = '';
    var weixindesc = 'AOSHA';
    var weixinlink = 'http://vip.kemeimei.cn/vip/?a=lbs_list&m=order_shopindex&vip=Mw%3D%3D';
    var weixinimgUrl = 'http://img4.wsb100.com/kemeimei/vip/3/images/2015/06/05/5571041d13bdb.png';
    //
    function updateC(ac) {

     //   var url = 'http://vip.kemeimei.cn/vip/?a=visit_count&m=order_baseindex&vip=Mw%3D%3D&click=' + ac;
        //$.get(url, function (data) {


        //    //alert(1);
        //});

    }



    wx.config({
        //debug: true,
        appId: 'wx227c2c5bd14dd47d',
        timestamp: 1478689324,
        nonceStr: '21108qOBwAw53uYs',
        signature: '236b33bd5af08a2a7dc8fa2c7e325dad0f406301',
        jsApiList: [
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareWeibo'
        ]
    });
    wx.ready(function (res) {

        // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
        wx.checkJsApi({
            jsApiList: [
              'onMenuShareAppMessage'
            ],
            success: function (res) {
                //alert(JSON.stringify(res));
                if (res.checkResult.onMenuShareAppMessage != true) {
                    alert('亲！您的微信版本过低了！请升级吧！');
                }
            }
        });

        // 2. 分享接口
        // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareAppMessage({
            title: weixintitle,
            desc: weixindesc,
            link: weixinlink,
            imgUrl: weixinimgUrl,
            trigger: function (res) {
                //alert('点击发送给朋友');
            },
            success: function (res) {
                //alert('已分享');
                updateC('sfriend');
            },
            cancel: function (res) {
                // alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });



        // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareTimeline({
            title: weixintitle,
            link: weixinlink,
            imgUrl: weixinimgUrl,
            trigger: function (res) {
                //alert('用户点击分享到朋友圈');
            },
            success: function (res) {
                //alert('已分享');
                updateC('scfriend');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });


        // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareQQ({
            title: weixintitle,
            desc: weixindesc,
            link: weixinlink,
            imgUrl: weixinimgUrl,
            trigger: function (res) {
                //alert('用户点击分享到QQ');
            },
            complete: function (res) {
                //alert(JSON.stringify(res));
            },
            success: function (res) {
                //alert('已分享');
                updateC('sqq');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });


        // 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareWeibo({
            title: weixintitle,
            desc: weixindesc,
            link: weixinlink,
            imgUrl: weixinimgUrl,
            trigger: function (res) {
                //alert('用户点击分享到微博');
            },
            complete: function (res) {
                //alert(JSON.stringify(res));
            },
            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });



    });

    wx.error(function (res) {
        //alert('分享发生错误：'+res.errMsg);
    });

</script>