@{
    ViewBag.Title = "物流管理";
    Layout = "~/Areas/Admin/Views/Shared/_right.cshtml";
}
<input type="hidden" id="MenuNo" value="Logistical" />
<script src='/Scripts/Back/plugins/datatables/jquery.dataTables.js' type='text/javascript'></script>
<script src='/Scripts/Back/plugins/datatables/jquery.dataTables.columnFilter.js' type='text/javascript'></script>
<script src='/Scripts/Back/tables.js' type='text/javascript'></script>
@section backScripts
{

    
}

<div class='container-fluid'>

    <div class='row-fluid' id='content-wrapper'>

        <div class='span12'>

            <div class='row-fluid'>

                <div class='span12'>

                    <div class='page-header'>
                        <h1 class='pull-left'>
                            <i class='icon-edit'></i>
                            <span>物流管理</span>
                        </h1>
                        <div class='pull-right'>
                            <ul class='breadcrumb'>
                                <li>
                                    <a href="index.html"><i class='icon-bar-chart'></i>
                                    </a>
                                </li>
                                <li class='separator'>
                                    <i class='icon-angle-right'></i>
                                </li>
                                <li>Forms

                                </li>
                                <li class='separator'>
                                    <i class='icon-angle-right'></i>
                                </li>
                                <li class='active'>Form components</li>
                            </ul>
                        </div>

                    </div>



                    <div class='row-fluid'>

                        <div class='tab-content'>
                            
                            <iframe name="kuaidi100" src="http://www.kuaidi100.com/order/unlogin/delivery.jsp?source=app&type=tel&orderSource=iframe" width="960" height="16000" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>

                            
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>    </div>
