@{
    ViewBag.Title = "订单管理";
    Layout = "~/Areas/Admin/Views/Shared/_right.cshtml";
}
<input type="hidden" id="MenuNo" value="OrderInfo" />
<script src='/Scripts/Back/plugins/datatables/jquery.dataTables.js' type='text/javascript'></script>
<script src='/Scripts/Back/plugins/datatables/jquery.dataTables.columnFilter.js' type='text/javascript'></script>
<script src='/Scripts/Back/tables.js' type='text/javascript'></script>
@section backScripts
{

    <script type="text/javascript">

        //相对路径
        var rootPath = "@Url.Content("~/Admin/")";
        var table = "#ordertable";
        var gridUrl = rootPath + 'Order/GetOrderForGrid';
        //加载toolbar
        LG.loadToolbar("tablebutton1", toolbarBtnItemClick);
        $(document).ready(function () {
            //TablePage();
            highSearch();
            var dt = $(table).dataTable({
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "order": [[8, "desc"]],
                "ajax": {
                    "url": gridUrl,
                    "type": "POST",
                    "data": { "[Equal]trade_type": "ONLINE" }
                },
                "columns": [
                    { "data": "orderNum", "name": "[Contains]{main}orderNum", "orderable": "orderNum" },
                    { "data": "total_fee", "orderable": false },
                    { "data": "userName", "name": "[Contains]{main}userName", "orderable": "userName" },
                    { "data": "UserTel", "orderable": false },
                    { "data": "remark1", "orderable": false },
                    { "data": "remark2", "orderable": false },
                    { "data": "remark4", "orderable": false },
                    { "data": "ssh_status", "orderable": false },
                    { "data": "orderTime", "orderable": "orderTime" }

                ],
                "columnDefs": [
                      //{
                      //    "targets": [0],
                      //    "visible": true
                      //},
                      {
                          "render": function (data, type, row) {
                              return '<a onclick="toolbarBtnItemClick(this)" id="JumpWechatUsr" UserId="' + row.UserId + '">' + data + '</a>';

                          },
                          "targets": 2
                      },
                        {
                            "render": function (data, type, row) {
                                return data;
                            },
                            "targets": 4
                        },
                       {
                           "render": function (data, type, row) {
                               if (data == 0)
                                   return '<span class="label label-warning">待支付</span>';
                               else if (data == 2)
                                   return '<span class="label label-important">作废</span>';
                               else if (data == 3)
                                   return '<span class="label label-success">已支付</span>';
                               else if (data == 6)
                                   return '<span class="label label-success">已完成</span>';

                           },
                           "targets": 7
                       },
                ]

            });
            $(table + ' tbody').on('click', 'tr', function () {
                $(this).toggleClass('info');

            });

        });
        //工具条事件
        function toolbarBtnItemClick(item) {
            var id = item.id;
            if (item.id == undefined)
                id = item.currentTarget.id;
            switch (id) {
                case "JumpWechatUsr":
                    Jump("/admin/WeChatUser/WeChatDetail?userNum=" + $(item).attr("UserId"));
                    break;
                case "Add":
                    Jump("/admin/Order/OrderDetail")
                    break;
                case "Update":
                    var selected = $(table).DataTable().rows('.info').data()[0];
                    if (!selected) {
                        window.parent.LG.tip('请选择行!');
                        return
                    }
                    Jump("/admin/order/OrderDetail?ordernum=" + selected.orderNum)
                    break;
                case "Delete":

                    if (confirm('确定删除吗(该删除操作将会永久删除,一旦删除将无法挽回)?')) {
                        f_delete();
                        // 退出操作;
                    }

                    break;
                case "RealDelete":
                    $.messager.confirm('删除', '确定删除吗(该删除操作将会永久删除,一旦删除将无法挽回)?', function (r) {
                        if (r) {
                            realdelete();
                            // 退出操作;
                        }
                    });
                    break;
                case "selectall":
                    $(table + '  tr').toggleClass('info');
                    break;
                case "Search":
                    if ($(item).hasClass("active")) {
                        $("#searchblock").hide();
                    }
                    else {
                   
                        $("#searchblock").fadeIn();
                    }
                    break;
            }
        }
        $("#daterange2").daterangepicker({
            format: "MM/DD/YYYY"
        }, function (start, end) {
            return $("#daterange2").parent().find("input").first().val(start.format("YYYY-MM-DD") + " - " + end.format("YYYY-MM-DD"));
        });
        $("#daterange").daterangepicker({
            ranges: {
                "昨天": [moment().subtract("days", 1), moment().subtract("days", 1)],
                "今天": [new Date(), new Date()],
                "最近7天": [moment().subtract("days", 6), new Date()],
                "最近30天": [moment().subtract("days", 29), new Date()],
                "当前月": [moment().startOf("month"), moment().endOf("month")]
            },
            opens: "left",
            format: "MM/DD/YYYY",
            separator: " to ",
            startDate: new Date(),// moment().subtract("days", 29),
            endDate: new Date(),
            minDate: "01/01/2015",
            maxDate: "12/31/2018",
            locale: {
                applyLabel: "Submit",
                fromLabel: "From",
                toLabel: "To",
                customRangeLabel: "自定义",
                daysOfWeek: ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],
                monthNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                firstDay: 1
            },
            showWeekNumbers: true,
            buttonClasses: ["btn-danger"],
            dateLimit: false
        }, function (start, end) {
            $("#startdate").val(start.format("MM-DD-YYYY"));
            $("#enddate").val(end.format("MM-DD-YYYY"));
            return $("#selectdate").val(start.format("MM-DD-YYYY") + "~" + end.format("MM-DD-YYYY"));
        });


        function getFormJson(frm) {
            var o = {};
            var a = $(frm).serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {// && this.name.indexOf("[")!=0
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        }

        function highSearch() {
            $("#searchfrom").validate({
                submitHandler: function (form) {
                    var data = getFormJson(form);
                    //$("#messagedatatable_filter").find('[type="search"]').val('');
                    //$("#messagedatatable_filter").find('[type="search"]').keyup();

                    $(table).DataTable().ajax.params(data);
                    $(table).DataTable().ajax.reload();
                }
            })
        }
        function GetAllCheck() {
            var Ids = "";
            var rows = $(table).DataTable().rows('.' + tablerowclass).data();
            for (var i = 0, l = rows.length; i < l; i++) {

                Ids += rows[i].orderNum + ",";

            }
            return Ids;

        }
        function reload() {
            $(table).DataTable().ajax.reload();
        }
        function f_delete() {
            // var table = $(table).DataTable();
            var selected = $(table).DataTable().rows('.' + tablerowclass).data();
            if (selected.length > 0) {

                var data = {};
                data.Ids = GetAllCheck();
                LG.ajax({
                    url: rootPath + 'Order/Delete',
                    loading: '正在删除中...',
                    data: data,
                    success: function () {
                        reload();
                        window.parent.LG.tipSuccess('删除成功!');
                    },
                    error: function (message) {
                        window.parent.LG.tipError(message);
                    }
                });
            }
            else {
                window.parent.LG.tip('请选择行!');
            }
        }
    </script>
}

<div class='container-fluid'>

    <div class='row-fluid' id='content-wrapper'>

        <div class='span12'>

            <div class='row-fluid'>

                <div class='span12'>

                    <div class='page-header'>
                        <h1 class='pull-left'>
                            <i class='icon-edit'></i>
                            <span>订单管理</span>
                        </h1>
                        <div class='pull-right'>
                            <ul class='breadcrumb'>
                                <li>
                                    <a href="index.html"><i class='icon-bar-chart'></i>
                                    </a>
                                </li>
                                <li class='separator'>
                                    <i class='icon-angle-right'></i>
                                </li>
                                <li>Forms

                                </li>
                                <li class='separator'>
                                    <i class='icon-angle-right'></i>
                                </li>
                                <li class='active'>Form components</li>
                            </ul>
                        </div>

                    </div>



                    <div class='row-fluid'>

                        <div class='tab-content'>
                            <div class='row-fluid'>
                                <div class="box-content Lgloading" id="tablebutton1">
                                    <button type="button" id="selectall" class="btn btn-alt btn-sm btn-default " onclick="toolbarBtnItemClick(this)">反选</button>
                                    @*<div class="btn-group btn-group-sm pull-right" data-toggle="buttons">
                                        <button type="button" id="Search" class="btn btn-alt btn-sm btn-default" onclick="toolbarBtnItemClick(this)">高级搜索</button>

                                    </div>*@
                                    <div style="float: right">
                                    </div>
                                </div>
                            </div>
                            
                            <hr class="hr-normal">

                            <div class="row-fluid" id="searchblock" >

                                <div class="span12 box">

                                    <div class="box-content">


                                  <form id="searchfrom" action="page_forms_general.html" method="post" class="form-horizontal form-bordered " onsubmit="return false;">
                                            <div class="control-group">
                                                <div class="span5">
                                                    <label class="control-label span2" for="validation_name">订单时间 </label>

                                                    <div class="span2">
                                                        <div class="input-append">
                                                                <input type="text"  readonly="true" id="startdate" class="input-medium daterange" name="[GreaterThanOrEqual]orderTime" placeholder="开始日期"/>--
                                                              <input type="text" id="enddate" readonly="true"  name="[LessThanOrEqual]orderTime"  class="input-medium daterange" placeholder="结束日期"/>
                                                            <span class="add-on" id="daterange">
                                                                <i class="icon-calendar"></i>
                                                            </span>
                                                            <div class="input-group input-daterange" data-date-format="yyyy-mm-dd">
                                                                <input type="hidden"  name="[Equal]trade_type" value="ONLINE"">
                                                                <span class="input-group-addon"><i class="fa fa-angle-right"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span3">
                                                    <label class="control-label span3" for="validation_name">订单状态 </label>

                                                    <div class="span2">
                                                        <select id="example-select" name="[Equal]{type}ssh_status" class="form-control" size="1">
                                                            <option value="">请选择</option>
                                                            <option value="0">待支付</option>
                                                            <option value="2">作废</option>
                                                            <option value="3">已支付</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                    <div class="span3">
                                                    <label class="control-label span3" for="validation_name">门店 </label>

                                                    <div class="span2">
                                                        @Html.DropDownList("[Equal]remark3", ViewBag.COMPANYS as List<SelectListItem>)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-right" style="margin-bottom: 0">

                                                <button class="btn" type="reset">

                                                    <i class="icon-mail-reply "></i>

                                                    重设

                                                </button>
                                                <button class="btn btn-primary " type="submit" >

                                                    <i class="icon-search "></i>

                                                    搜索

                                                </button>

                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>

                            <div class='row-fluid'>

                                <div class='span12 box bordered-box orange-border' style='margin-bottom: 0;'>
                                    <div class='box-content box-no-padding'>

                                        <div class='responsive-table'>

                                            <div class='scrollable-area'>



                                                <table id="ordertable" class='data-table table table-bordered table-striped  table-hover table-striped' style="width: 100%;">
                                                    <thead>
                                                        <tr>

                                                            <th>订单号</th>
                                                            <th>订单金额</th>
                                                            <th>下单人</th>
                                                            <th>联系电话</th>
                                                            <th>预约项目</th>
                                                            <th>预约门店</th>
                                                            <th>预约时间</th>
                                                            <th>订单状态</th>
                                                            <th>下单时间</th>
                                                        </tr>
                                                    </thead>

                                                </table>


                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
