<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/mvcAjax")
 
    @RenderSection("scripts", required: false)
</head>
<body style="padding:0px;background:#EAEEF5;">  

    @RenderBody()



</body>
</html>
